.set{
    margin-bottom : 0%;
    font-size: 30px;    
    font-family: "system-ui",sans-serif;
    padding-top: 25px;
}

.img{
    padding-left: 10px;
}
.exp{
    margin: 10px;
    
}

