


.set{
    font-size: 30px;
    margin: 0px 0px;
    padding: 0px 0px;
}
.icons{
    padding: 0px;
    margin: 4px 0px 0px 0px;
}
.icon{
    margin: 12px;
}
.f_icon{
    margin: 0px;
    padding: 0px;
}
.icons img {
    width: 35px;
    height: 35px;
}
.lines{
    padding: 10px 0px;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 26px;
}
.photo {
    height: 90%;
    width: 90%;

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.mainsection {
    display: grid;
    grid-template-columns: 30% 67%;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 40px 0px 10px 0px;
}

h1.heading {
    margin: 0;
    padding: 0;
    font-size: 40px;
    letter-spacing: 1px;
}