.set{
    padding: 10px;
    margin-bottom : 0%;
    font-size: 50px;
}
.icons{
    padding: 2px;
    margin: 12px;
    margin-left: 0px;
}
.icon{
    margin: 12px;
}
.f_icon{
    margin: 12px;
    margin-left: 0px;
}
.lines{
    padding: 10px;
}