.set{
    margin-bottom : 0%;
    font-size: 30px;
    padding-top: 25px;
}
.community{
    margin: 10px;
}
.img{
    padding-left: 10px;
}

.link{
    color: white;
}

.c_div{
    padding-bottom: 200px;
}