.set{
    margin-bottom : 0%;
    font-size: 30px;
    padding-top: 25px;
    
}
.pet_pro{
    margin: 10px;

}
.link{
    padding-left: 5px;
    color: #ffffffa6;
    text-decoration: none;
}
.img{
    padding-left: 10px;
}



.accordion__item {
    background: #121212;
    border: 1px solid #393544;
    font-family: 'Federo', sans-serif !important;
    border-bottom: 1px solid #ffffff57;
}

.accordion__item p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 0;
    color: #ffffffb8;
}

.accordion__item ul {
    list-style: none;
}

.accordion__item ul li {
    font-size: 16px;
    letter-spacing: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #ffffffb8;
    gap: 10px;
    font-weight: 300;
}
.accordion__button {
    background-color: #262626 !important;
    width: unset !important;
    color: #dda62f !important;
}