
h1 {
    font-family: 'system-ui', sans-serif !important;
    color: #00859b;
}
.set_text p {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0;
    color: #ffffffb8;
}

.set_text ul {
    list-style: none;
}

.set_text ul li {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffffb8;
}
.set_text ul li span {
    font-size: 12px;
}