.set{
    margin-bottom: 0%;
    font-size: 43px;
    padding-top: 25px;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff1f;
}
.write{
    margin: 10px;
}
.img{
    padding-left: 10px;
}

.link{
    color: white;
}