.set{
    margin-bottom : 0%;
    font-size: 30px;
    padding-top: 25px;
    
}
.exp{
    margin: 10px;
}

.para{
    text-align: justify;
    padding-top: 2px;
    padding-left: 100px;
    padding-bottom: 5px;
}