@import url('https://fonts.googleapis.com/css2?family=system-ui&display=swap');


body {
  margin: 0;
  font-family: 'system-ui', sans-serif !important;

}
.App {
  max-width: 100%;
  font-size: 18px;
  line-height: 1.15;
  color: white;
  padding: 1vw 10vw;
}
.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: grid;
  grid-template-columns: 49% 49%;
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {

  .mainsection {
    grid-template-columns: 100% !important;
    padding: 10px 0px 10px 0px !important;
}

.expmain {
  grid-template-columns: 100% !important;
  grid-gap: 0% !important;
    gap: 0% !important;
}


.set {
    font-size: 24px !important;
   
}
.icons img {
  width: 26px !important;
  height: 26px !important;
}
.icons {
  padding: 0px !important;
  margin: 4px 0px 20px 0px !important;
}
.accordion {
 
  grid-template-columns: 100% ;

}
.photo {
  height: 60% !important;
  width: 60% !important;
}
h1.heading {

  font-size: 30px !important;
  letter-spacing: 0px !important;

}
.Backend {
 
  font-size: 18px !important;

}

.set_text ul {
  padding: 0px !important;
}










}